#contenido{
	padding-top:20px;
	p{
		color:black;
		font-size:.9em;
	}
	.imgarticle{
		img{
			width: 100%;
		}
	}
	.media{
		margin:0px 0px 20px;
		}
	blockquote{
		width: 80%;
		margin:30px auto;
		padding: 0px 20px;
		border-color:$naranja;
		p{
			color:$naranja;
			line-height: 1.5;
		}
	.single_main_content {
    	position: relative;
	}
	}
	.bck{
		@include linea(0px, 15px, 24px);
		h3{
			font-size: 1em;
		}
		span{
			@include espan (8px 35px 10px 0px);
		}
	}
	a{
		display: block;
		color:black;
		font-size: .9em;
	}
	.caja{
		border:1px solid $naranja;
		background-color:$orangelight;
		width: 55px;
		height:55px;
		display: inline-block;
	}
}
.imgarticle{
	padding:5px;
	margin-right: 5px;
	border:1px solid $gris;
}