/*colores*/
$naranja: #E7663B;
$naranjac: #F3AF9D;
$grisle: #D6D6D6;
$lefoo: #F2AE98;
$blanco: #FFFFFF;
$orangelight: #F1AE9D;
$gris: rgba(0,0,0,.3);

/* ----------------------------------------------------------------- */
@mixin propertieich{
    font-family: 'Beba';
    font-size: 1.1em;
    word-spacing:3px;
}
@mixin linea ($mgtop, $mgbtm, $hei){
    background-image:url(../images/post_border_bg.png);
    background-repeat:repeat;
    margin-top: $mgtop;
    margin-bottom:$mgbtm;
    height: $hei;
}
@mixin espan ($padd){
    background-color: white;
    padding: $padd;
}
/* ------------------------------------------------------------------ */
.mgt{
    margin-top:-30px;
}
.pd{
    padding:0px;
}
.pdt{
    padding:10px 0px !important;
}
.pdb{
    padding-bottom:50px;
}
.pdl{
    padding:0px 15px;
}
.row{
    border-left:15px solid white;
    border-right:15px solid white;  
}
.mgt3{
    margin-top: 3%;
}
.mgb3{
    margin-bottom: 3%;
}
/*floats*/
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
